
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    padding-top: 30px;
}
.nav-link{
    font-family: 'oswald', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #005f86;
}
.nav-link:hover{
    opacity: 0.7;
    color: #005f86;
}
.nav-link:active , .nav-link.active{
    color: #e35205;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #e35205;
}

.tab-content, ul.nav{
    width: 90%;
    margin: auto;
}

ul.nav{
    padding: 0 20px;
}
.tab-pane {
    overflow: auto;
    width: fit-content;
}

.nav-tabs{
    border-bottom: none;
}



th.rotate div  {
  /* border-bottom: 1px solid #ccc; */
  /* width:100px; */
  text-align: left;
  font-weight: 100;
  writing-mode: vertical-rl;
  vertical-align: top;
  text-orientation: sideways-right ;
  height: 130px;
  line-height: 1.1em;
  transform: rotate(180deg);
  margin: auto;
}


td, th{
    padding: 8px;
}

td img{
    width: 20px;
    margin: auto;
}

th{
    font-size: 12px;
}


td.data-16{
    background: rgba(0,0,0,0);
    
}
td.data-17{
    background: rgba(0,0,0,0);
}
td.data-18{
    background: rgba(0,0,0,0);
}
td.data-19{
    background: rgba(0,0,0,0);
}

thead {
    width: 100% ;
    /* display: inline-block; */
}
tbody {
    /* display: inline-block; */
    height: 200px;
    width: 100%;
    overflow: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    display: block;
}
tr{
    width: 100%;
}

th.left-th{
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 16%;
    min-width: 16%;
    font-size: 12px;
    hyphens: auto;
    border: #ddd 1px solid;
}

td{
    padding: 8px;
    width: 5.6%;
    border: #ddd 1px solid;
    font-size: 11px;
}

th.rotate{
    font-size: 15px;
    width: 5.6%;
    border: #ddd 1px solid;
}

/* tr:nth-child(even){
    background-color: #f2f2f2
} */


#header{
    width: 100%;
    margin: auto;
    padding: 0 10%;
}
#header h1{
    font-family: 'oswald', sans-serif;
    font-weight: 800;
    color: #e35205;
}
#header h2{
    font-family: 'oswald', sans-serif;
    color: #005f86;
}

#header .legend{
    padding: 20px;
    width:100%;
    vertical-align: middle;
}
#header .legend div {
    width: fit-content;
    margin: 0 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.1em;
}
#header .legend div p {
    margin: 0;
}


#header .legend div img{
    padding: 2px;
    width: 20px;
}

#yearBtns{
    padding: 0 10px;
    margin: auto;
    border-left: #005f86 1px solid;
}
#yearBtns p{
    padding: 0 7px 7px;
    font-weight: 400;
}
#yearBtns button{
    padding: 7px;
    background-color: white;
    font-size: 14px;
    border: #ddd 1px solid;
    margin: 3px;
    transition: all 0.2s ease-in-out;
    color: #005f86;
}
#yearBtns button:hover{
    color: #999;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}
#yearBtns button:focus{
    box-shadow: none;
}



tbody tr:hover {
    /* border: #ccca 2px solid; */
    background: #eee ;
  }
  tbody tr:hover td{
    /* border: #ccca 2px solid; */
    background: #eee ;
  }
  
  /* Focus stuff for mobile */
  td:focus::before,
  tbody th:focus::before {
    background-color: lightblue;
    content: '';  
    height: 100%;
    top: 0;
    left: -5000px;
    position: absolute;  
    width: 10000px;
    z-index: -1;
  }

@media only screen and (max-width: 800px) {
    th.rotate{
        font-size: 13px;
    }
    th{
        font-size: 10px;
    }

    th.left-th{
        font-size: 10px;
    }
    .tab-content, ul.nav{
        width: 100%;
        margin: auto;
    }
    td img{
        width: 13px;
    }

    td{
        width: 5%;
    }
    th.rotate{
        width: 5%;
    }
    th.left-th {
       width: 30%;
    }
    #header{
        padding: 0 2%;
    }
    #header .title{
        width: 100%;
    }
    #header .legend{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    th.left-th div{
        writing-mode: vertical-rl;
        vertical-align: top;
        text-orientation: sideways-right ;
        transform: rotate(180deg);
        height: 70px;
    }

    #yearBtns button{
        font-size: 10px;
        
    }
    #header .legend div {
        font-size: 10px;
    }
}